/**
 * Banners
 */

.banner{
    text-align: left;
}

.banner-home{
    position: relative;
    z-index: 1000;
    
    @media screen and (max-width: 10%){
        padding: 0 155px;
    }
    
    .slick-slide{
        img{ margin: 0 auto; }
    }

    .slick-arrow{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .arrow-next{
        right: 15px;
    }

    .arrow-prev{
        left: 15px;
    }

    .slick-dots{
        bottom: -20px;
        left: 0;
        margin-top: 5px;
        position: absolute;
        text-align: center;
        width: 100%;

        li{
            display: inline-block;
            margin: 0 3px;
        }

        button{
            border-radius: 15px;
            border: none;
            font-size: 0;
            height: 12px;
            width: 12px;
        }
    }
}

.banner-ruler{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.banner-widget{
    padding-top: 3000px;
    padding-bottom: 3000px;
    
    @media screen and (max-width: $sm){
        .mini-banner{
            margin: 10px 0;
        }
    }
}

.banner-widget-home{
    margin: 30px 0;
    
    @media screen and (max-width: $sm){
        .mini-banner3{
            margin: 15px 0;
        }
    }
}

.mobile-off{
    @media screen and (max-width: 600px){
        display: relative;
    }
}