<link rel="stylesheet" href="{{ asset('css/slide.css') }}">

<body>
    <!--<header>
        <div class="container">
            <div class="logo"><img src="img/logo.png"></div>
            <div class="menu">
                <nav>
                    <a href="#home">home</a>
                    <a href="#sobre">sobre</a>
                    <a href="#equipe">nossa equipe</a>
                    <a href="#servicos">serviços</a>
                    <a href="#contato">contato</a>
                </nav>
            </div>

            <div class="social">
                <button><i class="fa-brands fa-instagram"></i></button>
                <button><i class="fa-brands fa-facebook-f"></i></button>
                <button><i class="fa-brands fa-youtube"></i></button>
            </div>
        </div>
    </header>
-->
    <section class="slidezsr">
        <div class="slidezsr-content">
            
            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">

            <div class="slidezs-box primeiro">
                <img class="img-desktop" src="{{ asset('img/pastaimg/bannerpokedesk.jpg') }}" alt="slidezs 1">
                <img class="img-mobile" src="{{ asset('img/pastaimg/bannerpokemobi.jpg') }}" alt="slidezs 1">
                <!--<img class="img-mobile" src="{{ asset('img/pastaimg/bannerpokemobi.jpg') }}" alt="slidezs 1">-->
            </div>

            <div class="slidezs-box">
                <img class="img-desktop" src="{{ asset('img/pastaimg/bannerspindesk.jpg') }}" alt="slidezs 3">
                <img class="img-mobile" src="{{ asset('img/pastaimg/bannerspinmobi.jpg') }}" alt="slidezs 1">
            </div>

            <div class="slidezs-box">
                <img class="img-desktop" src="{{ asset('img/pastaimg/bannerspapadesk.jpg') }}" alt="slidezs 3">
                <img class="img-mobile" src="{{ asset('img/pastaimg/bannerspapamobi.jpg') }}" alt="slidezs 3">
            </div>

            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>
            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </section>
 <!--
    <section id="home">
        <div class="container1">
            <h2>Home</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa et ad, itaque ipsum impedit ducimus vero fugit amet earum deserunt omnis possimus minima ipsam quia est quaerat illo quidem.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, repudiandae corporis possimus veritatis fugiat facilis nihil sapiente facere delectus ex vel voluptatibus cumque recusandae quaerat dignissimos. Illum, exercitationem recusandae? Cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias sapiente qui odio aspernatur vitae dolores ab optio accusamus sint pariatur, maxime facere ullam eveniet, reiciendis dolore quia rerum architecto.</p>
        </div>
    </section>

    <section id="sobre">
        <div class="container1">
            <h2>Sobre</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa et ad, itaque ipsum impedit ducimus vero fugit amet earum deserunt omnis possimus minima ipsam quia est quaerat illo quidem.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, repudiandae corporis possimus veritatis fugiat facilis nihil sapiente facere delectus ex vel voluptatibus cumque recusandae quaerat dignissimos. Illum, exercitationem recusandae? Cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias sapiente qui odio aspernatur vitae dolores ab optio accusamus sint pariatur, maxime facere ullam eveniet, reiciendis dolore quia rerum architecto.</p>
        </div>
    </section>

    <section id="equipe">
        <div class="container1">
            <h2>Nossa Equipe</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa et ad, itaque ipsum impedit ducimus vero fugit amet earum deserunt omnis possimus minima ipsam quia est quaerat illo quidem.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, repudiandae corporis possimus veritatis fugiat facilis nihil sapiente facere delectus ex vel voluptatibus cumque recusandae quaerat dignissimos. Illum, exercitationem recusandae? Cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias sapiente qui odio aspernatur vitae dolores ab optio accusamus sint pariatur, maxime facere ullam eveniet, reiciendis dolore quia rerum architecto.</p>
        </div>
    </section>

    <section id="servicos">
        <div class="container1">
            <h2>Serviços</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa et ad, itaque ipsum impedit ducimus vero fugit amet earum deserunt omnis possimus minima ipsam quia est quaerat illo quidem.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, repudiandae corporis possimus veritatis fugiat facilis nihil sapiente facere delectus ex vel voluptatibus cumque recusandae quaerat dignissimos. Illum, exercitationem recusandae? Cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias sapiente qui odio aspernatur vitae dolores ab optio accusamus sint pariatur, maxime facere ullam eveniet, reiciendis dolore quia rerum architecto.</p>
        </div>
    </section>

    <section id="contato">
        <div class="container1">
            <h2>Contato</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum culpa et ad, itaque ipsum impedit ducimus vero fugit amet earum deserunt omnis possimus minima ipsam quia est quaerat illo quidem.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, repudiandae corporis possimus veritatis fugiat facilis nihil sapiente facere delectus ex vel voluptatibus cumque recusandae quaerat dignissimos. Illum, exercitationem recusandae? Cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias sapiente qui odio aspernatur vitae dolores ab optio accusamus sint pariatur, maxime facere ullam eveniet, reiciendis dolore quia rerum architecto.</p>
        </div>
    </section>-->
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</body>

{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 2 %}
{% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="assets/css/staile.css">


<body>
    <div class="wrappper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carouselu">
        <li class="cardu">
          <a href="https://www.katatau.com.br/banho-e-higiene/">
          <div class="img"><img src="{{ asset('img/pastaimg/banhe.png') }}" alt="img" draggable="false">
          </div></a>
          <h2>Banheiras</h2>
        </li>
        <li class="cardu">
          <a href="https://www.katatau.com.br/moveis/roupeiro-de-madeira/">
          <div class="img"><img src="{{ asset('img/pastaimg/armario.png') }}" alt="img" draggable="false"></div></a>
          <h2>Armários</h2>
          <!--<span>Web Developer</span>-->
        </li>
        <li class="cardu">
          <a href="https://www.katatau.com.br/moveis/berco-de-madeira/">
          <div class="img"><img src="{{ asset('img/pastaimg/berco.png') }}" alt="img" draggable="false"></div></a>
          <br/>
          <h2>Berço</h2>
        </li>
        <li class="cardu">
          <a href="https://www.katatau.com.br/passeio/teste/">
          <div class="img"><img src="{{ asset('img/pastaimg/carrin.png') }}" alt="img" draggable="false"></div></a>
          <h2>Carrinhos</h2>
        </li>
        <li class="cardu">
          <a href="https://www.katatau.com.br/passeio/cadeira-para-auto/">
          <div class="img"><img src="{{ asset('img/pastaimg/icones.png') }}" alt="img" draggable="false"></div></a>
          <h2>Bebê Conforto</h2>
        </li>
        <li class="cardu">
          <a href="https://www.katatau.com.br/alimentacao/">
          <div class="img"><img src="{{ asset('img/pastaimg/cadealim.png') }}" alt="img" draggable="false"></div></a>
          <h2>Alimentação</h2>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
 </body>
</html>
            
{% set showAvailable = settings.show_available_products ? 'available' %}

{% if settings.showcase_1 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_1 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_1 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_1 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_1 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

    
{% if showAvailable %}
    {% if settings.showcase_1 == "top_seller" %}
        <div id="prognoos_popv1"></div>	
        
        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
        
    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase_1],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
    

    
{% else %}
    {% if settings.showcase_1 == "top_seller" %}
        <div id="prognoos_popv1"></div>
        
        {% set products = Products({
            'filter': 'available',
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %} 
    {% else %}
        {% set products = Products({
            'filter': settings.showcase_1,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}        
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}

<!--<body>
        <div id="slider">
            <img class="selected" src="https://images.unsplash.com/photo-1530432999454-016a47c78af3?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image1">
            <img src="https://images.unsplash.com/photo-1562514947-bf9cf8e45d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image2">
            <img src="https://images.unsplash.com/photo-1562526109-878e3d276ceb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image3">
            <img src="/loja/img/stars-new.png" alt="Image4">
    </div>

    <script src="script.js"></script>
</body>-->

<div class="banners banner-widget-home">
    <div class="container">
        <div class="row">
            {% if not utils.is_mobile and banner.extra2 %}
                <div class="col-xs-12 col-sm-6 mini-banner3">
                    {{ banner.extra2 }}
                </div>
            {% elseif utils.is_mobile and banner.extra9 %}
               
                    <div class="col-xs-12 col-sm-6 mini-banner3">
                        {{ banner.extra9}}
                    </div>
                
            {% endif %}
            
            {% if not utils.is_mobile and banner.extra3 %}
                <div class="col-xs-12 col-sm-6 mini-banner3">
                    {{ banner.extra3 }}
                </div>
            {% elseif utils.is_mobile and banner.extra10 %}
               
                    <div class="col-xs-12 col-sm-6 mini-banner3">
                        {{ banner.extra10 }}
                    </div>
               
            {% endif %}
        </div>
    </div>
</div> 

{% if settings.showcase_2 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_2 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_2 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_2 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_2 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase_2 == "top_seller" %}
        <div id="prognoos_popv1"></div>	
        
        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
        
    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase_2],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
    
{% else %}
    {% if settings.showcase_2 == "top_seller" %}
        <div id="prognoos_popv1"></div>
        
        {% set products = Products({
            'filter': 'available',
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %} 
    {% else %}
        {% set products = Products({
            'filter': settings.showcase_2,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}        
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}

<div class="banners banner-widget-home">
    <div class="container">
        <div class="banner-full">
            {% if not utils.is_mobile and banner.extra4 %}
                <div class="mini-banner3">
                    {{ banner.extra4 }}
                </div>
            {% elseif utils.is_mobile and banner.extra11 %}
                
                    <div class="mini-banner3">
                        {{ banner.extra11 }}
                    </div>
                
            {% endif %}
        </div>
    </div>
</div>

{% if settings.showcase_3 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_3 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_3 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_3 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_3 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}


{% if showAvailable %}
    {% if settings.showcase_3 == "top_seller" %}
        <div id="prognoos_popv1"></div>	
        
        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
        
    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase_3],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
    
{% else %}
    {% if settings.showcase_3 == "top_seller" %}
        <div id="prognoos_popv1"></div>
        
        {% set products = Products({
            'filter': 'available',
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %} 
    {% else %}
        {% set products = Products({
            'filter': settings.showcase_3,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}        
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}

{% if banner.bottom %}
    <div class="banner banner-bottom">
        {{ banner.bottom }}
    </div>
{% endif %}

{% if pages.current == 'home' %}
    {{ banner.popup ~ banner.floating }}
{% endif %}
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="stylemarcas.css">

    <script src="javamarcas.js" defer></script>
<body>
      <li class="teixto">
          <h1>MARCAS OFICIAIS</h1>
        </li>
    <div class="wraper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carosso">
        <li class="cardume">
          <a href="https://www.katatau.com.br/banho-e-higiene/">
          <div class="imge"><img src="{{ asset('img/iconegalzerano.png') }}" alt="img" draggable="false">
          </div></a>
        </li>
        <li class="cardume">
          <a href="https://www.katatau.com.br/reller/">
          <div class="imge"><img src="{{ asset('img/iconereller.png') }}" alt="img" draggable="false"></div></a>
          <!--<span>Web Developer</span>-->
        </li>
        <li class="cardume">
          <a href="https://www.katatau.com.br/burigoto/">
          <div class="imge"><img src="{{ asset('img/iconeburigoto.jpg') }}" alt="img" draggable="false"></div></a>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
 </body>
</html>

<!--#include virtual="{{ asset('elements/snippets/hmtlmarcas.html') }}" -->

<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "67991238667", // WhatsApp number
            call_to_action: "Precisa de Ajuda? ->", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

